
<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">

    <div class="col-md-12 text-center">
    
        <h1 class="text-center text-success"> Welcome to Linhan's Weather app</h1>
        <br/>


        <%= form_for(:search_city, url: search_city_path, remote: true) do |f| %>
            <div class="form-group">
                <%= f.text_field :city,  class:"form-control", required: true, placeholder: "Please enter the city name for weather forecast" %>
            </div>
            <div id="submit_tag">
                <%= f.submit 'submit', class: "btn btn-info" %>
            </div>
            

        <% end %>
        <div id= "display-widgets"></div>

    </div>
</div>


